{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .login {
            background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
            padding: 45px 30px 30px 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="justify-content-center content-center row">
        {{ form_start(form, {'attr': {'class': 'col-4 login','id': 'login_form'}}) }}
        <div class="form-group">
            {{ form_widget(form._account) }}
        </div>
        <div class="form-group">
            {{ form_widget(form._password) }}
        </div>
        {% if error %}
            <div class="text-danger">{{ 'Bad username or password'|trans }}</div>
        {% endif %}
        {{ form_widget(form.login) }}
        {{ form_end(form) }}
    </div>
{% endblock %}