<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="application-name" content="Web Project">
        <meta name="description" content="Web application">
        <meta name="keywords" content="project, app, web">
        <meta name="robots" content="index, follow">
        <link rel="icon" type="image/png" href="favicons/favicon.png">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <title>{% block title %}App{% endblock %}</title>
        {% block stylesheets %}
            <style>
                html {
                    height: 100%;
                }

                body {
                    min-height: 100%;
                    background: linear-gradient(141deg, #191919 0%, #292929 51%, #393939 75%);
                    color: darkgrey;
                }

                .content-center {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 1000px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
